<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-6OADMJR\SQLEXPRESS;Initial Catalog=zsms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
